# PostgreSQL
DB_HOST=pallium_amas-db
DB_PORT=5432
DB_NAME=amas_database
DB_USER=amas_user
DB_PASS=

# API
PORT=4000

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkoocok3j
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Notifuse
NOTIFUSE_URL=https://emailmarketing-notifuse.s6hx3x.easypanel.host/api/transactional.send
NOTIFUSE_TOKEN=
NOTIFUSE_WORKSPACE=amaswolf
