# PostgreSQL
DB_HOST=pallium_amas-db
DB_PORT=5432
DB_NAME=amas_database
DB_USER=amas_user
DB_PASS=

# API
PORT=4000

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkoocok3j
CLOUDINARY_API_KEY=897671266851952
CLOUDINARY_API_SECRET=8NHcelAPYazZNiRKg4G0nmV0Ouo

# Notifuse
NOTIFUSE_URL=https://emailmarketing-notifuse.s6hx3x.easypanel.host/api/transactional.send
NOTIFUSE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiOTQ1MTY5MGEtNzQ4Ni00YzMyLThlZjktZmYxM2Q5M2MyZDc5IiwidHlwZSI6ImFwaV9rZXkiLCJlbWFpbCI6InBydWViYUBlbWFpbG1hcmtldGluZy1ub3RpZnVzZS5zNmh4M3guZWFzeXBhbmVsLmhvc3QiLCJleHAiOjIwOTA5NjUzNjksIm5iZiI6MTc3NTYwNTM2OSwiaWF0IjoxNzc1NjA1MzY5fQ.2-vKKjwclo7pjkRRu2Hse-5CmDo9hNDhCjCb18AF4C4
NOTIFUSE_WORKSPACE=amaswolf
